.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    min-width: 25%;
    width: 25%;

    &__details {
        display: flex;
        flex-direction: column;
    }

    &__image {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        padding: 1rem;
        box-sizing: border-box;
    }

    &__context {
        padding: 0.4rem;
    }

    &__name {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        img {
            width: 24px;
            height: 24px;
        }
    }
}